/* src/Stylesheets/mystyle.css */
.Name {
  font-weight: 300;
  color: blue;
}

.School {
  color: crimson;
}

.Total {
  color: darkmagenta;
}

.formatstyle {
  text-align: center;
  font-size: large;
  padding: 20px;
  margin: 30px auto;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.Score {
  color: forestgreen;
  font-weight: bold;
}
